html, body {
	height: 100%;
	margin: 0px;
}

#siteContainer {
	display: flex;
	background-color: lightgrey;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

h1 {
	color: black;
	font-size: 150px;
	text-align: center;
	margin-bottom: 50%;
	margin-top: 0px;
}

#order {
	text-align: center;
}

button {
	font-size: 80px;
}
