.jumbotron {
	/*background-color: powderblue;
	color: white;*/
	color: white;
	background-image: url("https://static.pexels.com/photos/27703/pexels-photo-27703.jpg");
    background-size: cover;
	background-repeat:no-repeat;
	min-height: 500px;
}

.space-top {
	margin-top: 60px;
}

.space-between {
	margin-top: 40px;
}

.space-headline {
	margin-top: 20px;
}

.space-buttom {
	margin-bottom: 50px;
}

h1 {

}

p {
	font-family: monospace;
}
