.jumbotron {
	background-color: powderblue;
	color: white;
}

.space-top {
	margin-top: 60px;
}

.space-between {
	margin-top: 40px;
}

.space-headline {
	margin-top: 20px;
}

.space-buttom {
	margin-bottom: 50px;
}

h1 {
	
}

p {
	font-family: monospace;
}
