.progressframe{
    display: flex;
    flex-direction: row;
	justify-content: space-around;
    color: red;
	background-color: lightblue;
}

.orderframe {
	position: relative;
	top: 200px;
	left: 25%;
    width: 50%;
    height: 100%;
	background-color: powderblue;
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding: 8px 8px;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	border-radius: 10px;
}

.auswahl .input {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.start {
	display: flex;
	align-items: center;
	align-self: left;
	margin-left: 25%;
}

.ziel {
	display: flex;
	align-items: center;
	align-self: left;
	margin-left: 25%;
}

.zeit {
	display: flex;
	align-items: center;
	align-self: left;
	margin-left: 25%;
}

.icon_button {
	height: auto;
	width: 20px;
	padding: 1px 3px;
}

.map_pin {
	height: auto;
	width: 15px;
	padding: 3px 3px;
}

.option .input {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 25%;

}

.person {
	display: flex;
	align-items: center;
	align-self: left;
}

.zwischenstops {
	display: flex;
	align-items: center;
	align-self: left;
}

.extra {
	display: flex;
	align-items: center;
	align-self: left;
}
